---
title: Brindes de Qualidade para Eventos - Surpreenda com a Lobby
description: Crie experiências únicas em eventos com brindes exclusivos
layout: home
---
<div class="headline headline--image">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="font--xxl">
          Crie Experiências Únicas em Eventos com <span class="text-highlight">Brindes Exclusivos</span>
        </h1>
        <h2 class="font--md">
          Descubra como engajar participantes de eventos com kits e brindes personalizados - desde um belo kit de boas-vindas do evento até presentes de agradecimento exclusivos pós-evento.
        </h2>
        <br>
        <p>
          <a href="/monte-seu-kit?lp=marketing" class="btn js-btn-catalog">
            Escolher produtos 🎁
          </a>
          &nbsp;&nbsp;
          <a href="/contato?lp=marketing" class="btn btn--secondary js-btn-catalog">
            Falar com vendas
          </a>
        </p>
        <br><br>
      </div>
      <div class="col-lg-5">
        <img src="/assets/images/headline/bg-swag-kit-2.png" alt="swag kit" width="100%">
      </div>
    </div>
  </div>
</div>

<section class="section-one">
  {% include customers-logo.html %}
</section>

<section class="section-two">
  <h1 class="font--xl">Surpreenda 🎁 seus participantes e fortaleça sua marca</h1>
  <br>
  <div class="container">
    <p><img src="/assets/images/app/platform.png" alt="Plataforma de envio de brindes personalizados" class="img-app img-app--noborder"></p>
    <br><br>
    <div class="row">
      <section class="col-md-6">
        <h2 class="font--lg"><b>Pré-evento</b></h2>
        <p>
          Envie um presente personalizado para os participantes antes do evento, como um kit de boas-vindas com itens relacionados ao tema do evento, um guia de sobrevivência para o evento ou um brinde exclusivo.
        </p>
        <br>
      </section>
      <section class="col-md-6">
        <h2 class="font--lg"><b>Check-in</b></h2>
        <p>
          Dê um brinde personalizado de qualidade aos participantes no momento do check-in, como uma caneca personalizada, um chaveiro ou um bloco de anotações.
        </p>
        <br>
      </section>
      <section class="col-md-6">
        <h2 class="font--lg"><b>Durante o evento</b></h2>
        <p>
          Distribua brindes personalizados durante o evento, como camisetas, sacolas, garrafas de água ou carregadores portáteis.
        </p>
        <br>
      </section>
      <section class="col-md-6">
        <h2 class="font--lg"><b>Pós-evento</b></h2>
        <p>
          Envie um mimo de agradecimento após o evento, como um livro relacionado ao tema do evento, uma caixa de chocolates ou um brinde exclusivo que possa ser usado no dia a dia.
        </p>
        <br>
      </section>
    </div>
  </div>
  <br>
  <p>
    <a href="/monte-seu-kit?lp=marketing" class="btn js-btn-catalog">
      Começar agora
    </a>
  </p>
</section>

<section class="section-one">
  <div class="container">
    <div class="section--right">
      {% include garantia-felicidade.html %}
    </div>
    <br><br><br>
    {% include images-pinterest.html %}
  </div>
</section>

<section class="section-two">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <h1 class="font--xl">A plataforma de envio de kits e presentes para <span class="text-highlight">times de marketing</span></h1>
        <p>
          Evite dor de cabeça na hora de comprar e enviar os kits e brindes personalizados da sua empresa, nós facilitamos todo processo pra você.
        </p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <p>
    <a href="/precos" class="btn">
      Ver preços
    </a>
  </p>
</section>

<section class="container">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="section-three">
        <h1 class="font--lg">Sua demanda é maior que R$100k por ano?</h1>
        <h2 class="font--xl">Agende uma conversa</h2>
        <p class="section-three__btn">
          <a href="https://calendly.com/caroline-460/30min" target="_blank" class="btn">
            Agendar call
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  (function() {
    var params = new URLSearchParams(window.location.search);
    var btnCatalog = document.getElementsByClassName('js-btn-catalog');
    for (i = 0; i < btnCatalog.length; i++) {
      btnCatalog[i].setAttribute('href', btnCatalog[i].getAttribute('href') + '&' + params);
    }
  })();
</script>
