---
title: Mimos para Prospects - Venda mais com a Lobby
description: Aumente suas vendas enviando presentes personalizados para seus prospects
layout: home
---
<div class="headline headline--image">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="font--xxl">
          <span class="text-highlight">Aumente suas Vendas</span> enviando Mimos Personalizados
        </h1>
        <h2 class="font--md">
          Aumente suas vendas com mimos e presentes personalizados que imprimem sua marca. Descubra como nossa plataforma de envio de presentes corporativos pode ajudá-lo a se destacar da concorrência.
        </h2>
        <br>
        <p>
          <a href="/monte-seu-kit?lp=vendas" class="btn js-btn-catalog">
            Comece agora 🎁
          </a>
        </p>
        <br><br>
      </div>
      <div class="col-lg-5">
        <img src="/assets/images/headline/bg-swag-kit-1.png" alt="swag kit" width="100%">
      </div>
    </div>
  </div>
</div>

<section class="section-one">
  {% include customers-logo.html %}
</section>

<section class="section-two">
  <h1 class="font--xl">Se destaque 🎁 e aumente suas vendas</h1>
  <br>
  <div class="container">
    <div class="row">
      <section class="col-md-6">
        <h2 class="font--lg"><b>Aumente conversão em calls</b></h2>
        <p>
          Ao enviar mimos personalizados na etapa de prospecção e agendamento de calls, você pode aumentar sua geração de leads e suas oportunidades de vendas.
        </p>
        <br>
      </section>
      <section class="col-md-6">
        <h2 class="font--lg"><b>Aumente suas taxas de fechamento</b></h2>
        <p>
          Envie brindes personalizados como parte de sua estratégia de ABM, permitindo que você crie uma conexão mais próxima se destacando da concorrência.
        </p>
        <br>
      </section>
      <section class="col-md-6">
        <h2 class="font--lg"><b>Aumente a retenção de clientes</b></h2>
        <p>
          Mostre aos seus clientes existentes que você se importa com eles, envie mimos personalizados e melhore a satisfação e a lealdade dos seus clientes, e até uma carta a mão como pedido de desculpas.
        </p>
        <br>
      </section>
      <section class="col-md-6">
        <h2 class="font--lg"><b>Upsell e cross-sell</b></h2>
        <p>
          Ofereça produtos complementares ou de maior valor agregado, incentivando o upsell e o cross-sell, e presenteie o cliente com um mimo especial. Com a nossa plataforma de presentes corporativos, você pode criar presentes personalizados para tornar a experiência de compra ainda mais memorável.
        </p>
        <br>
      </section>
    </div>
  </div>
  <br>
  <p>
    <a href="/monte-seu-kit?lp=vendas" class="btn js-btn-catalog">
      Comece agora
    </a>
  </p>
</section>

<section class="section-one">
  <div class="container">
    <div class="section--right">
      {% include garantia-felicidade.html %}
    </div>
    <br><br><br>
    {% include images-pinterest.html %}
  </div>
</section>

<section class="section-two">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <h1 class="font--xl">A plataforma de envio de kits e presentes para <span class="text-highlight">times de vendas</span></h1>
        <p>
          Evite dor de cabeça na hora de comprar e enviar os kits e brindes personalizados da sua empresa, nós facilitamos todo processo pra você.
        </p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <p>
    <a href="/precos" class="btn">
      Ver preços
    </a>
  </p>
</section>

<section class="container">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="section-three">
        <h1 class="font--lg">Sua demanda é maior que R$100k por ano?</h1>
        <h2 class="font--xl">Agende uma conversa</h2>
        <p class="section-three__btn">
          <a href="https://calendly.com/caroline-460/30min" target="_blank" class="btn">
            Agendar call
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  (function() {
    var params = new URLSearchParams(window.location.search);
    var btnCatalog = document.getElementsByClassName('js-btn-catalog');
    for (i = 0; i < btnCatalog.length; i++) {
      btnCatalog[i].setAttribute('href', btnCatalog[i].getAttribute('href') + '&' + params);
    }
  })();
</script>
