<p>
  <a href="/monte-seu-kit" class="btn">
    Orçar brindes
  </a>
  &nbsp;&nbsp;
  <a href="/contato" class="btn btn--secondary">
    Falar com vendas
  </a>
</p>
<br>
<p>
  <a href="https://www.google.com/maps/place/Lobby/@-23.4992578,-46.7579483,17z/data=!4m8!3m7!1s0x94ce5722895ef3d7:0xca7ccb26858d192f!8m2!3d-23.4992578!4d-46.7553734!9m1!1b1!16s%2Fg%2F11r_c4klmy?entry=ttu&g_ep=EgoyMDI1MTExMS4wIKXMDSoASAFQAw%3D%3D" target="_blank">
    <span class="font--xsm color--light"><b>Avaliação</b> 4.9 de 5 no</span>
    <img src="/assets/images/headline/google-review.png" height="16px">
  </a>
</p>
<br><br>