<div class="container">
  <h1 class="font--xl">Nossos valores e pilares culturais</h1>
  <p>Os valores que guiam nosso jeito de ser no dia a dia</p>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <p><img height="80px" style="margin:20px 0 10px" src="/assets/images/icons/Icon_Treat.png" alt="Icon_Treat"></p>
      <h1 class="font--lg"><b>Menos é mais</b></h1>
      <p>Acreditamos que simplicidade é poder. Quando menos é mais, entregamos excelência com clareza, foco e impacto. Criamos soluções que sejam funcionais, elegantes e centrado no cliente — sem complicações desnecessárias. Menos não é só mais, é melhor.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <p><img height="80px" style="margin:20px 0 10px" src="/assets/images/icons/Icon_Partnership.png" alt="Icon_Partnership"></p>
      <h1 class="font--lg"><b>Time vence o campeonato</b></h1>
      <p>O time é imbatível. Junto nos se fortalecemos e se unimos nas derrotas. Jogamos juntos, com estratégia e determinação, porque as grandes vitórias só acontecem quando cada um faz a sua parte pelo todo.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <p><img height="80px" style="margin:20px 0 10px" src="/assets/images/icons/Icon_Rocket.png" alt="Icon_Rocket"></p>
      <h1 class="font--lg"><b>Dale bomba</b></h1>
      <p>Energia, resiliência e garra são nosso combustível. Aqui, desafios não intimidam – eles motivam. Somos focados, persistentes e temos a coragem de fazer acontecer com a paixão e a determinação de quem age como dono.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <p><img height="80px" style="margin:20px 0 10px" src="/assets/images/icons/Icon_Gift.png" alt="Icon_Gift"></p>
      <h1 class="font--lg"><b>Encantamento está no detalhe</b></h1>
      <p>Detalhes criam grandes diferenças. Questionamos, analisamos e buscamos harmonia em cada decisão, porque é no olhar crítico que a excelência acontece e o extraordinário se revela.</p>
    </div>
    <div class="col-sm-6 col-md-6 offset-sm-3">
      <p><img height="80px" style="margin:20px 0 10px" src="/assets/images/icons/Icon_Hearth.png" alt="Icon_Hearth"></p>
      <h1 class="font--lg"><b>Evoluímos de dentro pra fora</b></h1>
      <p>O crescimento começa em cada um de nós. Refletimos, nos adaptamos e aprendemos continuamente para transformar desafios em oportunidades e alcançar resultados extraordinários.</p>
    </div>
  </div>
</div>