<div class="container">
  <h1 class="font--xl">Nossos valores e pilares culturais</h1>
  <p>Os valores que guiam nosso jeito de ser no dia a dia</p>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <p><img height="80px" style="margin:20px 0 10px" src="/assets/images/icons/Icon_Treat.png" alt="Icon_Treat"></p>
      <h1 class="font--lg"><b>Experiência fantástica</b></h1>
      <p>Nós nos comprometemos a criar experiências que vão além das expectativas, gerando um impacto positivo em cada interação e em todas as etapas do processo. Para nós, menos é mais.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <p><img height="80px" style="margin:20px 0 10px" src="/assets/images/icons/Icon_Partnership.png" alt="Icon_Partnership"></p>
      <h1 class="font--lg"><b>Jogamos juntos</b></h1>
      <p>Acreditamos que o verdadeiro sucesso só é alcançado quando trabalhamos em equipe. Cada vitória é compartilhada e cada desafio é superado coletivamente.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <p><img height="80px" style="margin:20px 0 10px" src="/assets/images/icons/Icon_Rocket.png" alt="Icon_Rocket"></p>
      <h1 class="font--lg"><b>Dale bomba</b></h1>
      <p>Somos movidos pela energia de fazer as coisas acontecerem. Com atitude proativa e garra, enfrentamos desafios com a determinação de quem pensa e age como dono.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <p><img height="80px" style="margin:20px 0 10px" src="/assets/images/icons/Icon_Gift.png" alt="Icon_Gift"></p>
      <h1 class="font--lg"><b>Questionamos os detalhes</b></h1>
      <p>Acreditamos que a curiosidade e a capacidade de questionar são fundamentais para a inovação e a resolução de problemas.</p>
    </div>
    <div class="col-sm-6 col-md-6 offset-sm-3">
      <p><img height="80px" style="margin:20px 0 10px" src="/assets/images/icons/Icon_Hearth.png" alt="Icon_Hearth"></p>
      <h1 class="font--lg"><b>Olhar para dentro</b></h1>
      <p>Valorizamos o crescimento pessoal e o autoconhecimento como pilares para nos tornarmos não apenas profissionais melhores, mas também seres humanos mais completos.</p>
    </div>
  </div>
</div>