<div class="container">
  <h1 class="font--xl">+1.000 clientes atendidos</h1>
  <p>De startups a grandes empresas globais</p>
  <p>
    <img height="36" src="/assets/images/depoimentos/ifood.png" alt="iFood" style="filter:grayscale(100%);margin:10px 15px">
    <img height="32" src="/assets/images/depoimentos/sicredi.png" alt="Sicredi" style="filter:grayscale(100%);margin:10px 15px">
    <img height="24" src="/assets/images/depoimentos/rumolog.png" alt="Rumo Logística" style="filter:grayscale(100%);margin:10px 15px">
    <img height="32" src="/assets/images/depoimentos/flash.png" alt="Flash" style="filter:grayscale(100%);margin:10px 15px">
    <img height="36" src="/assets/images/depoimentos/caju.png" alt="Caju" style="filter:grayscale(100%);margin:10px 15px">
    <img height="36" src="/assets/images/depoimentos/alura.png" alt="Alura" style="filter:grayscale(100%);margin:10px 15px">
    <img height="36" src="/assets/images/depoimentos/willbank.png" alt="Will bank" style="filter:grayscale(100%);margin:10px 15px">
  </p>
  <!--
  <div class="row">
    <div class="col-6 col-md-3">
      <p><img height="50" src="/assets/images/depoimentos/ifood.png" alt="iFood"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="35" src="/assets/images/depoimentos/amazon.png" alt="Amazon"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="48" src="/assets/images/depoimentos/willbank.png" alt="Will Bank"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="48" src="/assets/images/depoimentos/hotmart.png" alt="Hotmart"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="40" src="/assets/images/depoimentos/rdstation.png" alt="RD Station"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="35" src="/assets/images/depoimentos/kwai.png" alt="Kwai"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="48" src="/assets/images/depoimentos/zenklub.png" alt="Zenklub"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="48" src="/assets/images/depoimentos/caju.png" alt="Caju"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="33" src="/assets/images/depoimentos/jusbrasil.png" alt="Jusbrasil"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="33" src="/assets/images/depoimentos/indriver.png" alt="InDriver"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="37" src="/assets/images/depoimentos/flash.png" alt="Flash"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="37" src="/assets/images/depoimentos/alura.png" alt="Alura"></p>
      <br>
    </div>

    <div class="col-6 col-md-3">
      <p><img height="50" src="/assets/images/depoimentos/itau.png" alt="Itaú"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="40" src="/assets/images/depoimentos/mercadolivre.png" alt="Mercado Livre"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="35" src="/assets/images/depoimentos/playkids.png" alt="PlayKids"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="33" src="/assets/images/depoimentos/octadesk.png" alt="Octadesk"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="48" src="/assets/images/depoimentos/gupy.png" alt="Gupy"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="50" src="/assets/images/depoimentos/trybe.png" alt="Trybe"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="44" src="/assets/images/depoimentos/zenklub.png" alt="Zenklub"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="37" src="/assets/images/depoimentos/creditas.png" alt="Creditas"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="35" src="/assets/images/depoimentos/amazon.png" alt="Amazon"></p>
      <br>
    </div>
  </div>
  -->
  <br>
  <div class="row">
    <div class="col-12 col-lg-6 offset-lg-3">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/dKYuZymUf_E?si=TwHPHDhmLDdY2NoV&amp;cc_load_policy=1&amp;cc_lang_pref=pt" title="Lobby Institucional" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
