<div class="container">
  <h1 class="font--xl">+800 clientes atendidos</h1>
  <p>De startups a grandes empresas globais</p>
  <br><br>
  <div class="row">
    <div class="col-6 col-md-3">
      <p><img height="50" src="/assets/images/depoimentos/ifood.png" alt="iFood"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="35" src="/assets/images/depoimentos/amazon.png" alt="Amazon"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="48" src="/assets/images/depoimentos/willbank.png" alt="Will Bank"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="48" src="/assets/images/depoimentos/hotmart.png" alt="Hotmart"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="40" src="/assets/images/depoimentos/rdstation.png" alt="RD Station"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="35" src="/assets/images/depoimentos/kwai.png" alt="Kwai"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="48" src="/assets/images/depoimentos/zenklub.png" alt="Zenklub"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="48" src="/assets/images/depoimentos/caju.png" alt="Caju"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="33" src="/assets/images/depoimentos/jusbrasil.png" alt="Jusbrasil"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="33" src="/assets/images/depoimentos/indriver.png" alt="InDriver"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="37" src="/assets/images/depoimentos/flash.png" alt="Flash"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="37" src="/assets/images/depoimentos/alura.png" alt="Alura"></p>
      <br>
    </div>
    <!--
    <div class="col-6 col-md-3">
      <p><img height="50" src="/assets/images/depoimentos/itau.png" alt="Itaú"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="40" src="/assets/images/depoimentos/mercadolivre.png" alt="Mercado Livre"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="35" src="/assets/images/depoimentos/playkids.png" alt="PlayKids"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="33" src="/assets/images/depoimentos/octadesk.png" alt="Octadesk"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="48" src="/assets/images/depoimentos/gupy.png" alt="Gupy"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="50" src="/assets/images/depoimentos/trybe.png" alt="Trybe"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="44" src="/assets/images/depoimentos/zenklub.png" alt="Zenklub"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="37" src="/assets/images/depoimentos/creditas.png" alt="Creditas"></p>
      <br>
    </div>
    <div class="col-6 col-md-3">
      <p><img height="35" src="/assets/images/depoimentos/amazon.png" alt="Amazon"></p>
      <br>
    </div>
    -->
  </div>
</div>
<br>
<div class="container">
  <p class="font--lg">
    <a href="javascript:void(0)" id="videoDialogOpen">
      <b>Ver vídeo ▶️</b>
    </a>
  </p>
  <dialog id="videoDialog" style="width:800px;height:450px;overflow: hidden;">
    <p style="position:absolute;right:0;z-index:100;background-color:white">&nbsp;<a href="javascript:void(0)" id="videoDialogClose">Fechar X</a>&nbsp;</p>
    <iframe id="video" width="100%" height="100%" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </dialog>
</div>
<script type="text/javascript">
  (function() {
    const dialog = document.getElementById("videoDialog");
    const video = document.getElementById("video");
    
    dialog.addEventListener("close", (event) => {
      video.setAttribute('src', '');
    });

    const openDialog = document.getElementById("videoDialogOpen");
    openDialog.addEventListener("click", () => {
      dialog.showModal();
      video.setAttribute('src', 'https://www.youtube.com/embed/JZyk-A-hgXo?autoplay=1');
    });

    const closeButton = document.getElementById("videoDialogClose");
    closeButton.addEventListener("click", () => {
      dialog.close();
    });
  })();
</script>
