<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <p><img src="/assets/images/headline/bg-swag-kit-2.png" alt="swag kit" width="100%"></p>
      <br>
    </div>
    <div class="col-lg-7">
      <h1 class="font--xxl">
        Garantida de felicidade 😍
      </h1>
      <h2 class="font--md">
        Sabemos da dificuldade de achar um fornecedor que entregue com qualidade e no prazo.
        Caso não fique satisfeito por algum motivo, fale com a gente que faremos acontecer.
      </h2>
      <br>
      <p>
        <a href="/como-funciona" class="btn">
          Como funciona
        </a>
      </p>
    </div>
  </div>
</div>
