.btn {
  border-radius: 7px;
  padding: 12px 20px;
  background-color: #220081;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: #431DB0;
  color: white;
  text-decoration: none;
}

.btn--margin {
  display: inline-block;
  margin: 0 10px 10px;
}

.btn--secondary {
  background-color: white;
  color: #220081;
}

.btn--secondary:hover {
  background-color: #E2DBF5;
  color: #220081;
}
