.btn {
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 7px;
  padding: 12px 20px;
  background-color: #220081;
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

.btn:hover {
  background-color: #431DB0;
  color: white;
  text-decoration: none;
}

.btn--margin {
  display: inline-block;
  margin: 0 10px 10px;
}

.btn--secondary {
  border: 1px solid #220081;
  background-color: white;
  color: #220081;
}

.btn--secondary:hover {
  background-color: #E2DBF5;
  color: #220081;
}

.btn--whatsapp {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 20px;
}

.btn--whatsapp img {
  width: 32px;
}


@media (min-width: 992px) {
  .btn {
    white-space: normal;
    display: inline;
    margin-bottom: 0;
  }

  .btn--whatsapp {
    bottom: 40px;
    right: 40px;
  }

  .btn--whatsapp img {
    width: 48px;
  }
}

