.btn {
  border-radius: 7px;
  padding: 12px 20px;
  background-color: #220081;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: #431DB0;
  color: white;
  text-decoration: none;
}
