.getapp {
  &__container {
    min-height: 90vh;
    @media (min-width: 576px) {
      height: 100vh;
    }
  }

  &__content-container {
    @media (max-width: 576px) {
      flex: 1;
    }
  }

  &__text {
    @media (min-width: 576px) {
      font-size: 1.6rem;
      margin-top: 2rem;
    }
  }

  &__text-header {
    @media (min-width: 576px) {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }

  &__smartphone {
    max-height: 300px;
    max-height: 45vh;

    @media (min-width: 576px) {
      max-height: 800px;
      max-height: 70vh;
    }
  }

  &__badges {
    @media (min-width: 576px) {
      height: 100%;
    }
  }

  &__store-badge-container {
    max-width: 300px;
  }

  &__storage-badge-img {
    @media (min-width: 576px) {
      max-width: 300px;
    }
  }
}
