.section-plan {
	border: 1px solid #DDD;
	border-radius: 10px;
	margin: 15px 0;
	padding: 12px 12px 5px;
	background-color: white;
	text-align: left;
}

.section-plan--btn {
	display: inline-block;
	width: 100%;
	text-align: center;
}