<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Lobby">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/assets/images/apple-touch-icon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Lobby">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="title" content="{{page.title}}">
    <meta name="author" content="Lobby">
    <meta name="description" content="{{page.description}}">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <meta property="og:site_name" content="Lobby Tech">
    <meta property="og:image" content="/assets/images/og-banner.png">
    <meta property="og:type" content="website">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" type="text/css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  </head>
  <body>
    <header class="container header">
      <a href="/">
        <img src="/assets/images/lobby-logo.png" alt="Lobby Tech logo" class="header__logo">
      </a>
      <ul class="header__menu">
        <li class="header__menu--mobile">
          <a href="/marketplace">Serviços</a>
        </li>
        <li class="header__menu--mobile">
          <a href="/seja-parceiro">Seja parceiro</a>
        </li>
        <li>
          <a href="https://portal.lobby.tech"><b>Login</b></a>
        </li>
      </ul>
    </header>

    <main>
      {{ content }}
    </main>

    <footer class="footer">
      <section class="container">
        <div class="row">
          <div class="col-md-4">
            <p><a href="/"><img src="/assets/images/lobby-logo-rodape.png" alt="Lobby Tech logo"></a></p>
            <br>
            <p>Lobby é o parceiro ideal para facilitar a gestão do seu ambiente de trabalho.</p>
            <br>
            <p>
              <a target="_blank" href="https://www.facebook.com/lobbytecnologia/">
                <img width="32" src="/assets/images/icons/Facebook.png" alt="Facebook">
              </a>
              &nbsp;
              <a target="_blank" href="https://api.whatsapp.com/send?phone=5511999977468&text=Oi, gostaria mais informações da solução da Lobby.">
                <img width="32" src="/assets/images/icons/WhatsApp.png" alt="WhattsApp">
              </a>
              &nbsp;
              <a target="_blank" href="https://www.linkedin.com/company/lobbytech/">
                <img width="32" src="/assets/images/icons/LinkedIn.png" alt="LinkedIn">
              </a>
              &nbsp;
              <a target="_blank" href="https://www.instagram.com/lobby.tech/">
                <img width="32" src="/assets/images/icons/Instagram.png" alt="Instagram">
              </a>
            </p>
            <br>
          </div>
          <section class="col-6 col-md-2">
            <h2 class="font--md"><b>Produto</b></h2>
            <p><a href="/">Home</a></p>
            <p><a href="/marketplace">Serviços</a></p>
            <p><a href="/helpdesk">Help desk</a></p>
            <br>
          </section>
          <section class="col-6 col-md-2">
            <h2 class="font--md"><b>Empresa</b></h2>
            <p><a href="/sobre-nos">Sobre nós</a></p>
            <p><a href="/seja-parceiro">Seja parceiro</a></p>
            <p><a href="https://mkt.lobby.tech/agende-uma-demonstracao?utm_source=website">Contato</a></p>
            <br>
          </section>
          <section class="col-6 col-md-2">
            <h2 class="font--md"><b>Conteúdo</b></h2>
            <p><a href="https://blog.lobby.tech">Blog</a></p>
            <p><a href="https://bit.ly/workplace-leaders-form">Comunidade</a></p>
            <br>
          </section>
        </div>
        <div class="row" style="margin-top:40px">
          <div class="col-md-6">
            <p class="font--sm">© 2021 - Lobby Tech</p>
          </div>
          <div class="col-md-6" style="text-align: right">
            <p class="font--sm">
              <a href="/termos-de-uso">Termos de uso</a>
              &nbsp;
              <a href="/politica-de-privacidade">Política de privacidade</a>
            </p>
          </div>
        </div>
      </section>
    </footer>

    {% if jekyll.environment == "production" %}
      {% include google_scripts.html %}
    {% endif %}
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/0aa59a41-d9df-4bec-97d4-84fb43690cac-loader.js"></script>
  </body>
</html>
