.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  box-shadow: 1px 1px 3px -2px #999;
}

.header a {
  color: #000;
}

.header__logo {
  width: 130px;
  float: left;
}

.header__main-menu {
  float: left;
  position: relative;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  list-style: none;
}

.header__main-menu__li {
  float: left;
  padding: 10px 20px 0;
}

.header__main-menu__li:hover ul {
  display: block;
}

.header__main-submenu {
  border-radius: 6px;
  box-shadow: 1px 1px 3px #999;
  display: none;
  position: absolute;
  padding: 20px;
  background-color: white;
  z-index: 200;
}

.header__main-submenu li {
  list-style: none;
}

.header__main-submenu li a {
  display: block;
  padding: 10px;
  white-space: nowrap;
}

.header__menu {
  float: right;
  margin: 0;
  padding: 0;
}

.header__menu li {
  float: left;
  list-style: none;
  padding: 10px 20px 0;
}

.header__menu--mobile {
  display: none;
}

@media (min-width: 992px) {
  .header__logo {
    width: 150px;
  }

  .header__menu--mobile {
    display: inherit;
  }

  .header__menu--only-mobile {
    display: none;
  }
}
