.header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.header__logo {
  width: 130px;
}

.header__menu {
  float: right;
  margin: 0;
  padding: 0;
}

.header__menu li {
  float: left;
  list-style: none;
  padding: 10px 20px 0;
}

.header__menu--mobile {
  display: none;
}

@media (min-width: 992px) {
  .header__logo {
    width: 150px;
  }

  .header__menu--mobile {
    display: list-item;
  }
}
