html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', 'Avenir Next', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

.padding-top-0 {
  padding-top: 0 !important;
}
