$small: 14px;
$font-sm-h: 1.7em;
$medium: 18px;
$font-md-h: 1.5em;
$large: 24px;
$font-lg-h: 1.3em;
$extra-large: 38px;
$font-xl-h: 1em;
$extra-extra-large: 74px;
$title: 40px;

$black: #000;
$white: #FFF;
